<!-- Page Header
===============================-->
<section id="page-header" class="page-section">
  <div class="container effect-loaded clearfix">
    <h1>About us</h1>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">About Us</li>
    </ul>
  </div>
</section>
<!-- Page Content
===============================-->
<section id="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading">About <strong>Our Company</strong></h3>
        <p>Nam libero tempore,<strong> cum soluta nobis</strong> est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum <strong>necessitatibus</strong> saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      </div>
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading">Useful for Any <strong>Business Needs</strong></h3>
        <ul class="arrow-list">
          <li>Creative Marketing</li>
          <li><strong>Website</strong> Questions</li>
          <li>Increasing Online Sales</li>
          <li>Imaging and <span class="bg-text">Branding</span></li>
          <li>Social Media Marketing</li>
        </ul>
      </div>
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading">Our <strong>Skills</strong></h3>
        <label>HTML & CSS</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="70"></div>
        </div>
        <label>Design</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="90"></div>
        </div>
        <label>Javascript</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="50"></div>
        </div>
        <label>Wordpress</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="70"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="heading">What's <strong>Client</strong> Say</h3>
        <div class="row no-padding">
          <div class="testimonial2">
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-1.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <strong class="client-name">John Doe</strong> <i class="client-meta">CEO ThemeTan</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-2.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <strong class="client-name">John Doe</strong> <i class="client-meta">CEO ThemeTan</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-1.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <strong class="client-name">John Doe</strong> <i class="client-meta">CEO ThemeTan</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-2.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <strong class="client-name">John Doe</strong> <i class="client-meta">CEO ThemeTan</i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
