<!-- Page Header
===============================-->
<section id="page-header" class="page-section">
  <div class="container effect-loaded clearfix">
    <h1>Giới thiệu</h1>
    <ul class="breadcrumb">
      <li><a href="/">Trang chủ</a></li>
      <li class="active">Giới thiệu</li>
    </ul>
  </div>
</section>
<!-- Page Content
===============================-->
<section id="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading"><strong>Giới thiệu</strong></h3>
        <p>Với bốn năm kinh nghiệm,<strong> Phạm Minh Hiền</strong> đã phát triển thương hiệu Jodomax lên tầm cao mới, dẫn đầu về phát triển các mẫu mốt mới và hiện đại. </p>
        <p>Jodomax đã gặt hái được nhiều thành công trong thị trường nội địa <strong>là điểm nhấn trong thời trang</strong> và luôn luôn hướng tới hoàn thiện và phát triển hơn.</p>
      </div>
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading">Đáp ứng được nhu cầu của <strong>tất cả các khách hàng</strong></h3>
        <ul class="arrow-list">
          <li>Thiết kế sáng tạo</li>
          <li><strong>Thời trang</strong> hiện đại, phong cách và quyến rũ</li>
          <li>Quý phái, lịch sự</li>
          <li>Mang lại <span class="bg-text">thương hiệu sử dụng</span></li>
          <li>Giá trị về thẩm mĩ</li>
        </ul>
      </div>
      <div class="col-lg-4 effect-loaded">
        <h3 class="heading">Kỹ năng của <strong>Jodomax</strong></h3>
        <label>Thiết kế</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="70"></div>
        </div>
        <label>Sản xuất</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="90"></div>
        </div>
        <label>Hỗ trợ khách hàng</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="50"></div>
        </div>
        <label>Lòng trung thành với khách hàng</label>
        <div class="progress">
          <div class="bar" style="width: 0%;" data-percentage="70"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="heading"><strong>Khách hàng</strong> nhận xét</h3>
        <div class="row no-padding">
          <div class="testimonial2">
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-1.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Sử dụng thời trang của Jodomax luôn làm tôi hài lòng</p>
              <strong class="client-name">Phạm Minh Hà</strong> <i class="client-meta">Giám đốc Spa</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-2.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Tôi yêu thời trang Jodomax</p>
              <strong class="client-name">Lý Nhã Kỳ</strong> <i class="client-meta">CEO LYNK Việt Nam</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-1.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Tôi rất thích mua và mặc thời trang Jodomax di dạo phố</p>
              <strong class="client-name">Paris Hilton</strong> <i class="client-meta">Hilton famous</i> </div>
            <div class="col-lg-6 testimonial-item effect-loaded"> <img src="images/client-avatar-2.jpg" alt=""  width="60" class="client-avatar">
              <p class="text">Tôi luôn theo giõi các mặt hàng mới của Jodomax để có thể mua ngay và ăn diện khi đi làm</p>
              <strong class="client-name">Hellen Nguyễn</strong> <i class="client-meta">Giám đốc thời trang</i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
