<!-- Page Header
===============================-->
<section id="page-header" class="page-section">
  <div class="container effect-loaded clearfix bg2">
    <h1>Bài viết 1</h1>
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/bai-viet">Blog</a></li>
      <li class="active">Bài viết 1</li>
    </ul>
  </div>
</section>
<!-- Page Content
===============================-->
<section id="page-content">
  <div class="container">
    <div class="row">
      <!--Blog Content-->
      <div id="blog-1" class="col-lg-8">
        <div id="blog-content">
          <article class="clearfix">
            <div class="entry-slider effect-loaded">
              <ul class="slides">
                <li><a href="#"><img src="/images/blog-thumbail1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="/images/blog-thumbail3.jpg" alt="" /></a></li>
              </ul>
            </div>
            <div class="entry-body effect-loaded">
              <h3 class="entry-title"><a href="#">Set up not found handler for Nodejs</a></h3>
              <p>Use handler as middleware of express and put it right after the static command.</p>
              <pre class="clearfix prettyprint">
        var _notfoundHandler = function(req, res) {
          res.status(400);

          res.render('404', {
            title: _title,
            url: req.url
          });
        };

        // Handle 404
        app.use(_notfoundHandler);

              </pre>
            </div>
            <div class="entry-meta effect-loaded">
              <ul>
                <li class="clearfix"><i class="post-type icon-paste"></i></li>
                <li><span><strong>Posted:</strong> <a href="#">December 17, 2013</a></span></li>
                <li><span><strong>Tags:</strong> <a href="#">Nodejs</a></span></li>
                <li><span><strong>Comments:</strong> <a href="#">0</a></span></li>
              </ul>
            </div>
          </article>
          <!--End Article-->
          <article class="clearfix"> <a href="#"><img src="/images/blog-thumbail2.jpg" alt="" /></a>
            <div class="entry-body effect-loaded">
              <h3 class="entry-title"><a href="#">Handlebars setup main layout to generate javascript depends on which page</a></h3>
              <p>For example, when I need to load extra scripts for specific page, I would need to use if command of handlebars.</p>
              <pre class="clearfix prettyprint" lang="js">
        #if
            $(document).ready(function() {
              $('.entry-slider').flexslider({
                animation: "fade",
                easing: "swing",
                controlNav:false,
                prevText: "<i class='icon-angle-left'></i>",
                nextText: "<i class='icon-angle-right'></i>",
                before: function(slider) {
                },
                after: function(slider) {
                }
              });
            });
        /if
              </pre>
            </div>
            <div class="entry-meta effect-loaded">
              <ul>
                <li class="clearfix"><i class="post-type icon-picture"></i></li>
                <li><span><strong>Posted:</strong> <a href="#">December 17, 2013</a></span></li>
                <li><span><strong>Tags:</strong> <a href="#">Nodejs, Handlebars</a></span></li>
                <li><span><strong>Comments:</strong> <a href="#">0</a></span></li>
              </ul>
            </div>
          </article>
          <!--End Article-->
          <article class="clearfix">
            <div class="entry-video effect-loaded">
              <iframe src="http://player.vimeo.com/video/31484170?byline=0&amp;portrait=0&amp;color=ff9933" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="entry-body effect-loaded">
              <h3 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="entry-meta effect-loaded">
              <ul>
                <li class="clearfix"><i class="post-type icon-play"></i></li>
                <li><span><strong>Posted:</strong> <a href="#">July 21, 2013</a></span></li>
                <li><span><strong>Tags:</strong> <a href="#">Photo</a></span></li>
                <li><span><strong>Comments:</strong> <a href="#">5</a></span></li>
              </ul>
            </div>
          </article>
          <!--End Article-->
          <article class="clearfix">
            <div class="entry-body effect-loaded">
              <h3 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="entry-meta effect-loaded">
              <ul>
                <li class="clearfix"><i class="post-type icon-link"></i></li>
                <li><span><strong>Posted:</strong> <a href="#">July 21, 2013</a></span></li>
                <li><span><strong>Tags:</strong> <a href="#">Photo</a></span></li>
                <li><span><strong>Comments:</strong> <a href="#">5</a></span></li>
              </ul>
            </div>
          </article>
          <!--End Article-->
          <div class="pagination effect-loaded">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a class="disable" href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Sidebar-->
      <div id="sidebar" class="col-lg-4">
        <div class="sidebar-bg">
          <div class="row clearfix no-padding">
            <div class="col-lg-6 effect-loaded clearfix">
              <div class="widget">
                <h4 class="widget-title">Categories</h4>
                <ul class="square-list" style="padding-left:10px;">
                  <li><a href="#">Architecture</a></li>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Photography</a></li>
                  <li><a href="#">Typography</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 effect-loaded">
              <div class="widget">
                <h4 class="widget-title">Archives</h4>
                <ul class="square-list" style="padding-left:10px;">
                  <li><a href="#">May 2013</a></li>
                  <li><a href="#">Jul 2013</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Widget-->
          <div class="widget">
            <div class="horizotal-tabs">
              <!-- Tabs Navigation -->
              <ul class="nav nav-tabs effect-loaded" id="vtabs1">
                <li class="active"><a href="#tab1">Popular</a></li>
                <li><a href="#tab2">Recent</a></li>
                <li><a href="#tab3"><i class="icon-comment"> </i>Comments</a></li>
              </ul>
              <!-- Tabs Content -->
              <div class="tab-content">
                <div class="tab-pane active fade in" id="tab1">
                  <ul class="widget-latest-post">
                    <li class="clearfix effect-loaded"><img class="thumbail" width="75" alt="" src="/images/project1.jpg"><a href="#">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit.</a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix effect-loaded"><img class="thumbail" width="75" alt="" src="/images/project3.jpg"><a href="#">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix effect-loaded"><img class="thumbail" width="75" alt="" src="/images/project5.jpg"><a href="#">Excepteur sint occaecat cupidatat non</a><i class="post-time">Jan 21 2013</i></li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="tab2">
                  <ul class="widget-latest-post">
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project3.jpg"><a href="#">Et harum quidem rerum facilis est et expedita distinctio.</a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project4.jpg"><a href="#">Excepteur sint occaecat cupidatat non proident</a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project6.jpg"><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a><i class="post-time">Jan 21 2013</i> </li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="tab3">
                  <ul class="widget-latest-post">
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project8.jpg"><a href="#">Itaque earum rerum hic tenetur a sapiente delectust</a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project7.jpg"><a href="#">Temporibus autem quibusdam et aut officiis debitis </a><i class="post-time">Jan 21 2013</i></li>
                    <li class="clearfix"><img class="thumbail" width="75" alt="" src="/images/project2.jpg"><a href="#"> Nam libero tempore, cum soluta nobis est eligendi</a><i class="post-time">Jan 21 2013</i></li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!--End Widget-->
          <div class="widget effect-loaded">
            <h4 class="widget-title">Text Widget</h4>
            <p class="effect-loaded">Lorem ipsum dolor sit amet, <span class="alt-font"> consectetur </span> adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <span class="color">commodo</span> consequat.</p>
          </div>
          <!--End Widget--->
          <div class="widget effect-loaded">
            <h4 class="widget-title">Popular tags</h4>
            <div class="popular-tags clearfix"> <a href="#">Blog</a> <a href="#">Design</a> <a href="#">Web</a> <a href="#">Technology</a> <a href="#">Magazine</a> <a href="#">Portfolio</a> </div>
          </div>
        </div>
      </div>
      <!--End Sidebar-->
    </div>
  </div>
</section>
