<!--
<script src="js/countdown.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
	//window.onload = function(){
			
			$("#countdown").countdown({
				date: "20 september 2013 12:00:00",
				format: "on"
			},
			
			function() {
				// callback function
			});

	};					
</script>
-->

  <!-- Page Header 
===============================-->
  <section id="page-header" class="page-section">
    <div class="container effect-loaded clearfix">
      <h1>We're Under Construction</h1>
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Under Construction</li>
      </ul>
    </div>
  </section>
  <!-- Page Content 
===============================-->
  <section id="page-section-5" class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="align-center count-down-msg">We're working on <span class="bg-color">new website</span> <br>
            and we'll be back as soon as possible!</h1>
          <ul id="countdown">
            <li> <span class="days">00</span>
              <p class="timeRefDays">days</p>
            </li>
            <li> <span class="hours">00</span>
              <p class="timeRefHours">hours</p>
            </li>
            <li> <span class="minutes">00</span>
              <p class="timeRefMinutes">minutes</p>
            </li>
            <li> <span class="seconds">00</span>
              <p class="timeRefSeconds">seconds</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

