
  <!-- Page Header 
===============================-->
  <section id="page-header" class="page-section">
    <div class="container effect-loaded clearfix">
      <h1>Trang web đang được xây dựng</h1>
      <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Trang web đang được xây dựng</li>
      </ul>
    </div>
  </section>
  <!-- Page Content 
===============================-->
  <section id="page-section-5" class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="align-center count-down-msg">Xin lỗi quý khách, trang web <span class="bg-color">http://jodomax{{url}}</span> đang được xây dựng<br>
            thời gian còn lại dự kiến sẽ làm xong là:</h1>
          <ul id="countdown">
            <li> <span class="days">00</span>
              <p class="timeRefDays">ngày</p>
            </li>
            <li> <span class="hours">00</span>
              <p class="timeRefHours">giờ</p>
            </li>
            <li> <span class="minutes">00</span>
              <p class="timeRefMinutes">phút</p>
            </li>
            <li> <span class="seconds">00</span>
              <p class="timeRefSeconds">giây</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

