  <!-- Slider
===============================-->
  <section id="section-slider">{{> header/slider}}</section>
  
  <!-- Page Section
===============================-->

  <section id="page-section-1" class="page-section">
  
    <div class="container">
    
      <div class="row no-padding">
      
        <div class="col-lg-8 effect-loaded">
          <h3><strong>Jodomax Fashion</strong>&nbsp;thời trang công sở hàng đầu Việt Nam !</h3>

          <div class="fb-like" data-href="http://jodomax.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

        </div>
        <div class="col-lg-4 effect-loaded">
          <ul class="social-icon">
<!--
            <li><img src="images/follow-us.png" alt="follow us" width="95" ></li>
-->

            <li><div class="fb-follow" data-href="http://www.facebook.com/jodomax" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div></li>
            <li><br /></li>
            <li><div class="fb-like" data-href="https://www.facebook.com/jodomax" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></li>

<!--
            <li><a href="#" class="icon-facebook facebook"></a></li>
            <li><a href="#" class="icon-dribble dribble"></a></li>
            <li><a href="#" class="icon-twitter twitter"></a></li>
-->
          </ul>
        </div>
        
      </div>
      
    </div>
    
  </section>
  
  <!-- Page Section
===============================-->
  <section id="page-section-2" class="page-section">
    <div class="container">
      <div id="features-1" class="row">
        <div class="col-lg-4 effect-loaded clearfix">
          <div class="feature-icon icon-tablet"></div>
          <div class="feature-content">
            <h3><strong>Thời trang</strong>  theo xu hướng mới nhất</h3>
            <p>Các mẫu thiết kế được cập nhật liên tục hàng tuần theo xu hướng mới nhất hiện nay. Phù hợp với thời trang công sở đi làm và dạo phố</p>
            <a class="readmore"><i class="icon-angle-right"></i> Đọc thêm</a> </div>
        </div>
        <div class="col-lg-4 effect-loaded">
          <div class="feature-icon icon-umbrella"></div>
          <div class="feature-content">
            <h3><strong>Thiết kế</strong> độc đáo và duy nhất</h3>
            <p>Thiết kế của Jodomax luôn mang tính cách độc đáo, duy nhất, phù hợp với văn hóa Việt Nam. Luôn luôn đổi mới, luôn luôn khác biệt với các mẫu thông thường.</p>
            <a class="readmore"><i class="icon-angle-right"></i> Đọc thêm</a> </div>
        </div>
        <div class="col-lg-4 effect-loaded">
          <div class="feature-icon icon-edit"></div>
          <div class="feature-content">
            <h3><strong>Mẫu mã</strong> đa dạng đủ thể loại</h3>
            <p>Chúng tôi có rất nhiều mẫu mới và đa dạng với nhiều mức giá cả khác nhau, thích hợp và đáp ứng nhu cầu của khách hàng.</p>
            <a class="readmore"><i class="icon-angle-right"></i> Đọc thêm</a> </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Section
===============================-->
  <section id="page-section-3" class="page-section">
    <div class="container">
      <div class="row no-padding">
        <div class="col-lg-12 effect-loaded">
          <h3 class="heading-1 align-center">Sản phẩm <strong>mới</strong></h3>
          <a class="align-center color" href="#"><small>Khám phá thêm</small></a> </div>
        <div class="col-lg-12">
        
          <div id="recent-projects">
            <ul class="carousel-4columns">
              <li>
                <div class="project-item effect-loaded"> <a class="overlay" href="images/DSC_0222_small.jpg" data-rel="prettyPhoto"  title="Đầm ren trắng">
                  <div class="project-thumb"> <img src="images/DSC_0222_small.jpg" alt="" /> <i class="icon-search"></i> </div>
                  <div class="project-meta"> <span class="effect"><i class="icon-caret-up"></i></span>
                    <h5 class="project-name">Đầm ren trắng hai lớp</h5>
                    <span class="project-category">Đầm</span> </div>
                  </a> </div>
              </li>
              <li>
                <div class="project-item effect-loaded"> <a class="overlay" href="images/DSC_0261_small.jpg" data-rel="prettyPhoto"  title="Bộ công sở phối hợp">
                  <div class="project-thumb"> <img src="images/DSC_0261_small.jpg" alt="" /> <i class="icon-search"></i> </div>
                  <div class="project-meta"> <span class="effect"><i class="icon-caret-up"></i></span>
                    <h5 class="project-name">Bộ công sở phối hợp</h5>
                    <span class="project-category">Bộ công sở</span> </div>
                  </a> </div>
              </li>
              <li>
                <div class="project-item effect-loaded"> <a class="overlay" href="images/DSC_0332_small.jpg" data-rel="prettyPhoto"  title="Đầm liền phối hai màu">
                  <div class="project-thumb"> <img src="images/DSC_0332_small.jpg" alt="" /> <i class="icon-search"></i> </div>
                  <div class="project-meta"> <span class="effect"><i class="icon-caret-up"></i></span>
                    <h5 class="project-name">Đầm liền phối hai màu</h5>
                    <span class="project-category">Đầm</span> </div>
                  </a> </div>
              </li>
              <li>
                <div class="project-item effect-loaded"> <a class="overlay" href="images/DSC_0345-2_small.jpg" data-rel="prettyPhoto"  title="Bộ công sở jupe và áo">
                  <div class="project-thumb"> <img src="images/DSC_0345-2_small.jpg" alt="" /> <i class="icon-search"></i> </div>
                  <div class="project-meta"> <span class="effect"><i class="icon-caret-up"></i></span>
                    <h5 class="project-name">Bộ công sở jupe và áo</h5>
                    <span class="project-category">Bộ công sở</span> </div>
                  </a> </div>
              </li>
              <li>
                <div class="project-item effect-loaded"> <a class="overlay" href="images/project8.jpg" data-rel="prettyPhoto"  title="This is a caption">
                  <div class="project-thumb"> <img src="images/project8.jpg" alt="" /> <i class="icon-search"></i> </div>
                  <div class="project-meta"> <span class="effect"><i class="icon-caret-up"></i></span>
                    <h5 class="project-name">Project Name</h5>
                    <span class="project-category">Human</span> </div>
                  </a> </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Section
===============================-->
  <section id="page-section-4" class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h3 class="heading effect-loaded">Jodomax đang làm</h3>
          <div class="vertical-tabs clearfix effect-loaded">
            <ul class="nav nav-tabs" id="home-vtabs">
              <li class="active"><a href="#vtab1"><i class="icon-cloud"> </i>Thiết kế các kiểu mẫu mới nhất</a></li>
              <li><a href="#vtab2"><i class="icon-camera"> </i>Sản xuất hàng loạt trên dây chuyền hiện đại</a></li>
              <li><a href="#vtab3"><i class="icon-text-width"> </i>Tham gia cộng đồng thiết kế thời trang</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active fade in" id="vtab1"> 
              <!--Begin Slider in Tab-->
              <div id="slider-in-tab">
              	<div class="frame-slider"><img src="images/slider-in-tab.png" width="187" height="170" alt=""/></div>
              	<div class="slider-in-tabs-container">
              	<ul id="in-tabs-slider">
                    <li><i class="icon-tab-slider icon-cloud"></i></li>                
                    <li><i class="icon-tab-slider icon-windows"></i></li>
                	<li><i class="icon-tab-slider icon-edit"></i></li>                    
                </ul>	
              </div>
              </div>
              <!--End Slider in Tab-->
                <p>1. Jodomax luôn tập trung nghiên cứu, phát triển các kiểu mẫu mới nhất theo xu hướng hiện nay trên thị trường Việt Nam và thế giới. Bộ phận thiết kế bao gồm các chuyên gia hàng đầu trong ngành thời trang hiện nay.</p>
              </div>
              <div class="tab-pane fade" id="vtab2">2. Với dây chuyền máy móc sản xuất hiện đại, các hàng hóa được may mặc, thêu ren trên công nghệ mới nhất và đảm bảo kỹ thuật tốt nhất.</div>
              <div class="tab-pane fade" id="vtab3">3. Jodomax luôn quan tâm và hỗ trợ cộng đồng thời trang Việt Nam. Đồng thời chúng tôi tham gia các sàn diễn thời trang và giới thiệu sản phẩm mới của các hãng và cộng đồng.</div>
            </div>
          </div>
        </div>
        <div id="why-choose-us" class="col-lg-4">
          <h3 class="heading effect-loaded">Tại sao khách hàng lại chọn Jodomax</h3>
          <p class="clearfix effect-loaded"><span class="drop-cap circle">1</span><strong>Thiết kế mới nhất, độc đáo</strong><br>
            Các thiếu kế của Jodomax Fashion vừa sang trọng vừa quý phái, lại luôn cập nhật xu hướng thời trang mới nhất trong nước và nước ngoài</p>
          <p class="clearfix effect-loaded"><span class="drop-cap circle">2</span><strong>Giá cả hợp lý, phù hợp với túi tiền của tất cả các nhóm khách hàng</strong><br>
            Giá cả của sản phẩm Jodomax rất hợp lý, phải chăng, giá luôn chỉ là 50% so sánh với các hãng khác cùng chất lượng trên thị trường</p>
          <p class="clearfix effect-loaded"><span class="drop-cap circle">3</span> <strong>Dịch vụ hậu mãi chăm sóc khách hàng</strong><br>
            Chúng tôi quan tâm đến các nhu cầu, yêu cầu hỗ trợ và dịch vụ gia tăng mà khách hàng cần thiết</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Section
===============================-->
  <section id="page-section-5" class="page-section">
    <div class="container">
      <div class="row no-padding">
        <div class="col-lg-8">
          <h3 class="heading effect-loaded">Khác hàng của Jodomax</h3>
          <div class="client-1">
            <div class="client-model"><img class="effect-loaded" src="images/model-client.png" width="250" alt="" /></div>
            <div class="client-logo"> 
            	<img src="images/client-logo-1.png" width="160" alt="" class="effect-loaded"/> 
                <img src="images/client-logo-2.png" width="160" alt="" class="effect-loaded"/> 
              	<img src="images/client-logo-3.png" width="160" alt="" class="effect-loaded"/> <div class="clear-right"></div>
              	<img src="images/client-logo-4.png" width="160" alt="" class="effect-loaded"/> 
                <img src="images/client-logo-5.png" width="160" alt="" class="effect-loaded"/> 
                <img src="images/client-logo-6.png" width="160" alt="" class="effect-loaded"/>                 </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3 class="heading effect-loaded">Nhận xét của khách hàng</h3>
          <div class="testimonial">
            <ul>
              <li class="clearfix effect-loaded">
                <div class="text"><i class="point-client icon-caret-down"></i><span>Khi sử dụng sản phẩm thời trang của Jodomax, tôi thấy rất hài lòng, tự tin và sang trọng. Mỗi khi đến công sở hay đi dạo phố, tôi đều thấy mợi người ngưỡng mộ với những bộ đồ của Jodomax mà tôi mặc</span></div>
                <p class="client-info clearfix"> <img src="images/Ha5.jpg" alt="" width="60" class="client-avatar"> <strong class="client-name">Phạm Minh Hà</strong> <i class="client-meta">Giám đốc Spa</i> </p>
              </li>
              <!--<li class="clearfix">
                <div class="text"><i class="point-client icon-caret-down"></i><span>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</span></div>
                <p class="client-info clearfix"> <img src="images/client-avatar-2.jpg" width="60" alt="" class="client-avatar"> <strong class="client-name">Jack Fox</strong> <i class="client-meta">Art Director ThemeTan</i> </p>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Section
===============================-->
  <section id="page-section-6" class="page-section">
    <div class="container">
      <div class="row clearfix no-padding">
        <div class="col-lg-9 effect-loaded"> <i class="icon-phone icon-3x"></i>
          <h2 class="no-padding">Gọi ngay: 09 13 59 33 33</h2>
          <h4 class="no-padding">hoặc gửi email: <a class="color" href="#">jodomax.fashion@gmail.com</a></h4>
        </div>
        <div class="col-lg-3 effect-loaded">
          <form>
            <input class="txt-search" name="txtSearch" type="text" value="Tìm kiếm" onFocus="this.value=''" />
          </form>
        </div>
      </div>
    </div>
  </section>

