    <div class="container">
      <div class="row no-padding">
        <div class="col-lg-4 effect-loaded">
          <h3 class="heading">Về <strong>Jodomax</strong></h3>
          <div id="footer-about">
            <p><strong>Jodomax Fashion</strong> chuyên về thời trang công sở nữ hàng đầu Việt Nam </p>
            <p>Chúng tôi luôn cập nhật các <strong>mẫu thiêt kế mới nhất</strong> theo xu hướng thời trang hiện nay</p>
          </div>
        </div>
        <div class="col-lg-4 effect-loaded clearfix">
          <h3 class="heading">Tim mới nhất</h3>
          <ul class="latest-news">
            <li class="clearfix"> <img class="thumb" src="images/project1.jpg" alt="">
              <div class="desc"> <a class="title" href="#">Thiết kế của Jodomax được nhiều người tiêu dùng ưa chuộng</a> <i class="time">khoảng 5 giờ trước</i> </div>
            </li>
            <li class="clearfix"> <img class="thumb" src="images/project8.jpg" alt="">
              <div class="desc"> <a class="title" href="#">Jodomax tham gia thiết kế trên Người mẫu đương thời Việt Nam</a> <i class="time">khoảng 8 giờ trước</i> </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 effect-loaded">
        <!--
          <h3 class="heading">Facebook fan page</h3>
          <div class="fb-like-box" data-href="https://www.facebook.com/jodomax/" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
          <div class="clearfix"></div>
        -->
        </div>
      </div>
    </div>
    <div id="footer-bottom" class="clearfix">
      <div class="container">
        <div class="row no-padding">
          <div class="col-lg-8 effect-loaded">
            <ul class="footer-menu clearfix">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sản phẩm</a></li>
              <li><a href="#">Giảm giá - Khuyến mại</a></li>
              <li><a href="#">Về chúng tôi</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 effect-loaded"><span  id="copyright" >Bản quyền © 2013 Jodomax Fashion thực hiện bởi David Nguyễn</span></div>
        </div>
      </div>
    </div>

<!--
    <div class="fb-recommendations-bar" data-site="http://jodomax.com" data-read-time="30" data-side="right" data-action="recommend"></div>
-->


