        <ul class="menu-lamp hidden-phone" id="menu-lamp">
          <li><a {{{activeClass "/"}}} data-desc="Trang chủ" href="/">Home</a></li>
          <li><a href="products" data-desc="Sản phẩm"><span></span>Products</a>
            <ul class="submenu">
              <li><a href="/products/dam-lien">Đầm liền</a></li>
              <li><a href="/products/chan-vay">Chân váy</a></li>
              <li><a href="/products/ao-so-mi">Áo sơ mi</a></li>
			        <li><a href="/products/ao-vest">Áo vest</a></li>
              <li><a href="/products/quan">Quần</a></li>
              <li><a href="/products/bo-cong-so">Bộ công sở</a></li>
            </ul>
          </li>
          <li><a href="/giam-gia" data-desc="Giảm giá">Discount</a>
            <ul class="submenu">
              <li><a href="/giam-gia/dam-lien">Đầm liền</a></li>
              <li><a href="/giam-gia/chan-vay">Chân váy</a></li>
              <li><a href="/giam-gia/ao-so-mi">Áo sơ mi</a></li>
              <li><a href="/giam-gia/ao-vest">Áo vest</a></li>
              <li><a href="/giam-gia/quan">Quần</a></li>
              <li><a href="/giam-gia/bo-cong-so">Bộ công sở</a></li>
            </ul>
          </li>
          <li><a href="/bai-viet" data-desc="Bài viết">Blog</a>
            <ul class="submenu">
              <li><a href="blog-1.html">Blog Style 1</a></li>
              <li><a href="blog-2.html">Blog Style 2</a></li>
              <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
              <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
              <li><a href="single-post.html">Single Post</a></li>
            </ul>
          </li>
          <li><a {{{activeClass "/gioi-thieu"}}} href="/gioi-thieu" data-desc="Giới thiệu">About</a></li>
          <li><a href="/lien-he" data-desc="Liên hệ">Contact</a></li>
        </ul>
        <div id="box">
          <div class="head"><i class="icon-caret-down"></i></div>
        </div>

