    <div class="fullwidthbanner-container" >
      <div class="fullwidthbanner">
        <ul>
          <!-- THE FIRST SLIDE -->
          <li data-transition="fade" data-masterspeed="300" data-delay="6000"> 
          
          	<img alt="" src="images/Slider12.jpg" data-fullwidthcentering="on">
            <div class="caption align_center h1 lft"
											 data-x="center"
											 data-y="70"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="1000"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  >
              <h2>Xu thế thời trang mới nhất</h2>
            </div>
            <div class="caption align_center lft"
											 data-x="center"
											 data-y="130"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="1300"
											 data-easing="easeOutExpo"  >
              <h3>Độc đáo và hiện đại</h3>
            </div>
            <div class="caption lft align_center"
											 data-x="center"
											 data-y="190"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="1600"
											 data-easing="easeOutExpo"  >
              <p>Giá cả hợp lý <br />
                phù hợp với mọi lứa tuổi</p>
            </div>
            <div class="caption lfb caption_button_1 fadeout"
											 data-x="center"
                                             data-hoffset="-70"
											 data-y="260"
											 data-speed="800"
                                             data-endspeed="300"
											 data-start="2000"
											 data-easing="easeOutExpo">
              <div class="btn-flat">Đọc thêm</div>
            </div>
            <div class="caption lfb caption_button_2 fadeout"
											 data-x="center"
                                             data-hoffset="70"
											 data-y="260"
											 data-speed="800"
                                             data-endspeed="300"
											 data-start="2200"
											 data-easing="easeOutExpo">
              <div class="btn-flat white">Mua ngay</div>
            </div>
          </li>
          <!-- THE SECOND SLIDE -->
          <li data-transition="fade, flyin" data-slotamount="10" data-masterspeed="300" data-target="_blank" data-slideindex="back">
            <div class="caption fade image_bg"
											 data-x="center"
											 data-y="0"
											 data-speed="500"
                                             data-endspeed="500"
											 data-start="0"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img src="images/Slider13.jpg" alt="" ></div>
            <div class="caption lfr fadeout"
											 data-x="right"
											 data-y="bottom"
                                             data-hoffset="-120"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="800"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img alt="" width="283" height="375" src="images/businessman.png" ></div>
            <div class="caption lfl"
											 data-x="120"
											 data-y="90"
											 data-speed="800"
											 data-start="1200"
											 data-easing="easeOutExpo"  >
              <h3>Thời trang mùa Thu-Đông</h3>
            </div>
            <div class="caption bg-black lfl"
											 data-x="120"
											 data-y="125"
											 data-speed="950"
											 data-start="1600"
											 data-easing="easeOutExpo">
              <h4>Đẳng cấp và quý phái</h4>
            </div>
            <div class="caption list_slide lfb"
											 data-x="120"
											 data-y="200"
											 data-speed="1050"
											 data-start="2000"
											 data-easing="easeOutExpo">
              <div class="list-slide"> <i class="icon-camera slide-icon"></i>
                <h5>Làm cho bạn đẹp hơn và tự tin hơn</h5>
              </div>
            </div>
            <div class="caption list_slide lfb"
											 data-x="120"
											 data-y="240"
											 data-speed="1200"
											 data-start="2400"
											 data-easing="easeOutExpo">
              <div class="list-slide"> <i class="icon-laptop slide-icon"></i>
                <h5> Biểu tượng của phụ nữ công sở</h5>
              </div>
            </div>
            <div class="caption list_slide lfb"
											 data-x="120"
											 data-y="280"
											 data-speed="1350"
											 data-start="2800"
											 data-easing="easeOutExpo">
              <div class="list-slide"> <i class="icon-music slide-icon"></i>
                <h5> Đem đến sự tinh tế trong thời trang </h5>
              </div>
            </div>
          </li>
          <!-- THE THIRD SLIDE -->
          <li data-transition="fade, flyin" data-slotamount="10" data-masterspeed="300" data-target="_blank" data-slideindex="back">
            <div class="caption fade image_bg"
											 data-x="center"
											 data-y="0"
											 data-speed="800"
                                             data-endspeed="500"
											 data-start="300"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img alt="" src="images/Slider14.jpg" ></div>
            <div class="caption lfl"
											 data-x="center"
											 data-y="bottom"
                                             data-hoffset="180"                                             
											 data-speed="800"
                                             data-endspeed="500"
											 data-start="300"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img alt="" src="images/Slider15.jpg" width="442" ></div>
            <div class="caption lfr"
											 data-x="center"
											 data-y="bottom"
                                             data-hoffset="-180"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="300"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img alt="" src="images/Slider16.jpg" width="441" ></div>
            <div class="caption lfb"
											 data-x="center"
											 data-y="bottom"
											 data-speed="800"
                                             data-endspeed="800"
											 data-start="1200"
											 data-endeasing="easeOutExpo"
											 data-easing="easeOutExpo"  ><img alt="" src="images/Slider17.jpg" width="441" ></div>
            <div class="caption h1 lft"
											 data-x="center"
											 data-y="40"
											 data-speed="800"
											 data-start="1850"
											 data-easing="easeOutExpo">
              <h2>Thời trang Thu-Đông</h2>
            </div>
            <div class="caption text-white lft"
											 data-x="center"
											 data-y="100"
											 data-speed="1000"
											 data-start="2350"
											 data-easing="easeOutExpo">
              <h4>Hiện đại, quý phái và đẳng cấp <span class="alt-font" style="font-size:45px;">Giá cả hợp lý</span> </h4>
            </div>
          </li>
        </ul>
        <!--<div class="tp-bannertimer tp-bottom"></div>-->
      </div>
    </div>

