  <h4 class="sw-title">Switcher Style</h4>
  <p id="change-layout"><span id="boxed1" class="sw-btn">Boxed 1</span>&nbsp;<span id="boxed2" class="sw-btn">Boxed 2</span><span id="fullwidth" class="sw-btn fullwidth">Fullwidth</span></p>
  <h5>Skin</h5>
  <ul class="skin clearfix">
    <li id="red" title="red"></li>
    <li id="orange" title="orange"></li>
    <li id="green" title="green"></li>
    <li id="blue" title="blue"></li>
    <li id="steel" title="steel"></li>
  </ul>
  <h5>Background Pattern</h5>
  <ul class="bg-pattern clearfix">
    <li class="bg-1"></li>
    <li class="bg-2"></li>
    <li class="bg-3"></li>
    <li class="bg-4"></li>
    <li class="bg-5"></li>
    <li class="bg-8"></li>
    <li class="bg-9"></li>
    <li class="bg-10"></li>
    <li class="bg-6"></li>
    <li class="bg-7"></li>
  </ul>

